<div class="heading heading__directions">
    <img src="images/icons/directions.png" alt="map">
    <h1>Sadie and Michael's</h1>
    <h2>Wedding Day</h2>
    <h3>Directions</h3>
</div>
<div class="main">
    <h2>Venue</h2>
    <p>The wedding will be held at <a href="https://www.fs.usda.gov/recarea/umpqua/recreation/camping-cabins/recarea/?recid=64838&actid=29">Ash Flat Campground</a>. The location is about 40 miles (one hour's drive) outside of Canyonville, OR. The google map <a href="https://www.google.com/maps/dir/Canyonville,+Oregon/Ash+Flat+Campground,+County+Road+46,+Tiller,+OR+97484/@42.9904564,-123.1467263,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x54c5b563adc8c2af:0x21c4afd08181f221!2m2!1d-123.2811748!2d42.9273406!1m5!1m1!1s0x54c67957e96a4f0d:0xff074f34aedd3935!2m2!1d-122.73216!2d43.0454">directions</a> from Canyonville are very helpful.</p>
    <p>Please keep in mind that there is no cell service past Tiller; so, please plan accordingly. Printing the directions would work well, or if you're more into GPS make sure you download the appropriate maps ahead of time.</p>
    <h2>General Directions</h2>
    <p>In general, take exit 98 off I-5. Then take Douglas County Highway 1 out of Canyonville for ~22.6 miles then turn left onto S Umpqua Road. From there, travel ~17 miles and take a left into Ash Flat Campground.</p>
    <p style="font-weight: bold">Some GPS directions will attempt to take you through the mountains. While this option will get you there, the roads are rough and remote. I highly recommend using the above general directions as a sanity check for any GPS directions.</p>
    <p>If there are any questions just ask, my cell is 360 223 3502.</p>
</div>