<div class="heading heading__gifts">
    <img src="images/icons/gifts.png" alt="gift icon">
    <h1>Gifts</h1>
    <h2>Amazon Registry</h2>
</div>
<div class="main">
    <p>If you would prefer to give a traditional wedding gift, we have registered with <a href="https://www.amazon.com/wedding/sadie-watson-michael-ledesma-tiller-september-2019/registry/2GB5VOYDAZN0D">Amazon</a>. You can also search Amazon registries using our names and the location of Tiller, Oregon.</p>

    <h2>Home Down Payment</h2>
    <p>If you would like to instead help us purchase our first home, please donate on our <a href="https://www.gofundme.com/fy36g-first-home-down-payment">GoFundMe</a> page.</p>
</div>