<div class="heading heading__gifts">
    <img src="images/icons/gifts.png" alt="gift icon">
    <h1>Sadie and Michael's</h1>
    <h2>Wedding Day</h2>
    <h3>Gift Information</h3>
</div>
<div class="main">
    <h2>Amazon Registry</h2>
    <p>If you would prefer to give a traditional wedding gift, we have registered with <a href="https://www.amazon.com/wedding/sadie-watson-michael-ledesma-tiller-september-2019/registry/2GB5VOYDAZN0D">Amazon</a>. You can also search Amazon registries using our names and the location of Tiller, Oregon.</p>

    <h2>Home Down Payment</h2>
    <p>Instead, if you would like to help us purchase our first home, please donate on our <a href="https://www.gofundme.com/fy36g-first-home-down-payment">GoFundMe</a> page.</p>
</div>