<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway|Montserrat" rel="stylesheet">

	<title>Sadie and Michael's Wedding</title>
</head>
<body>
  <div class="bodywrapper">
    <div class="nav">
      <a class="nav__logo" href="/">Sadie and Michael</a>
      <a class="nav__item" href="/lodging">Lodging</a>
      <a class="nav__item" href="/directions">Directions</a>
      <a class="nav__item" href="/timeline">Timeline</a>
      <a class="nav__item" href="/gifts">Gifts</a>
      <a class="nav__item" href="/potluck">Pot Luck</a>
      <a class="nav__item nav__item" href="/photos">Photos</a>
    </div>

    <%- body %>
    <div class="push"></div>
  </div>
  
<footer class="footer"><p>Designed by Michael Ledesma and Joe Marzullo</p></footer>

<script type="text/javascript" src="bundle.js"></script>
</body>
</html>
