<div class="main-page-hero">
	<img class="mp-hero__img" src="images/forest/forestLakeSky.jpg" alt="Forest Lake">
	<div class=mp-hero__wedding-info>
		<h3>Sadie and Michael's Wedding</h3>
		<p>Umpqua National Forest Campground</p>
		<p>Sunday, September 1, 2019</p>
		<img class="mp-hero__copy__img-map" src="images/forest/forestMap.jpeg" alt="Map of Umpqua National Forest Campground">
	</div>
</div>