<div class="heading heading__photos">
    <img src="images/icons/photos.png" alt="photos">
    <h1>Sadie and Michael's</h1>
    <h2>Wedding Day Photos</h2>
    <h3>Stay Tuned!</h3>
</div>
<div class="main">
    <p>Please check back after the wedding! We will post all the pictures here available for download.</p>
</div>  