<div class="heading heading__reservations">
    <img src="images/icons/reservations.png" alt="Reservation card">
    <h1>Sadie and Michael's</h1>
    <h2>Hotel Reservation Suggestions</h2>
    <h3>Or You Could Camp</h3>
</div>
<div class="main">
    <p>If you are traveling to attend, I would highly recommend staying in Canyonville, OR. The 
    	<a href="https://www.sevenfeathers.com/accommodations/seven-feathers-hotel/">Seven Feathers Hotel</a> 
    	is an excellent choice, but make reservations soon because they fill up fast. We plan to have 
    	<a href="https://www.sevenfeathers.com/dining/the-gathering-place-buffet/">dinner</a> there later in the evening after the ceremony.
    </p>
    <p>Regardless of hotel choice, I highly recommend booking ASAP as it will be labor day weekend.</p>

    <h2>Camping</h2>
    <p>Alternatively, if you'd prefer there are many 
    	<a href="https://www.fs.usda.gov/recarea/umpqua/recreation/camping-cabins/recarea/?recid=63392&actid=29">campgrounds
    	</a> in the area that would be a blast for you and your family! 
    </p>
    <p>Most camp grounds in the Tiller Ranger District should be close enough to Ash Flat Campground. Please check a map before heading out.</p>
</div>