<div class="heading heading__timeline">
    <img src="images/icons/timeline.png" alt="clock">
    <h1>Sadie and Michael's</h1>
    <h2>Wedding Day Timeline</h2>
    <h3>AUGUST 1, 2019</h3>
</div>
<div class="main">
    <table>
        <tr>
            <td>9:30 AM</td>
            <td>Recommended arrival time</td>
        </tr>
        <tr>
            <td>10:00 AM</td>
            <td>Ceremony Begins</td>
        </tr>
        <tr>
            <td>After Ceremony</td>
            <td>Begin cooking lunch /</td>
        </tr>
        <tr>
            <td>After Lunch</td>
            <td>Games and Swimming</td>
        </tr>
        <tr>
            <td>4:00 PM</td>
            <td>Break Down Camp</td>
        </tr>
        <tr>
            <td>7:30 PM</td>
            <td>Buffet Dinner at Seven Feathers Casino</td>
        </tr>
        <tr>
            <td>After Dinner</td>
            <td>Hang out at <a href="https://www.sevenfeathers.com/events/elements-lounge/">Elements Lounge</a> and maybe some <a href="https://www.sevenfeathers.com/casino/">gambling.</a></td>
        </tr>
    </table>
</div>  